*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "AstonScript";
    src: url("./fonts/Aston Script.ttf");
}
body{
    background-color:  #fff5c6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background-color: #000080;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 5px rgba(0,0,0, 0.5);
    width: 100%;
    border-bottom: 2px solid #FFDB58;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "AstonScript";
    color: #FFDB58;
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav{
    display: flex;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover{
    color: #ffec6d;
}
.logoimg{
    width: 80px;
}
.hero{
    background: linear-gradient(rgba(5, 5, 98, 0.6),rgba(5, 5, 98, 0.1)), url(imagens/hotel.png);
    height: 900px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;  
    text-align: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 8px #000080;
}
.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px #000;
}
.botao{
    background-color: #2d2d90;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    border-color: #ffc800;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: scale 0.5s;
}
.botao:hover{
    background-color: #465dc7;
    scale: 0.9;
}
.quartos{
    padding: 4rem 0;
    color: #020234;
}
.section-tittle{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    color: #110038 ;
    padding: 5rem;
}
.quart{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.quarto{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    transition: transform 0.3s;
}
.quarto:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.quarto img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
     /*Cobre a div*/
    object-fit: cover;
}
.quarto-content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.quarto-content h3{
     font-size: 1.5rem;
}
.quarto-content p{
    color: #474747;
    flex: 1;
    text-align: justify;
}
.preco{
  font-size: 1.5rem;
  color: #080850;
  font-weight: bold;
}
.servicoss{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.servico{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    transition: transform 0.3s;
}
.servico:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.servico-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.servico-content h3{
     font-size: 1.5rem;
}
.servico-content p{
    color: #474747;
    flex: 1;
    text-align: justify;
}
.servico img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.pag{
    color: #080850;
    margin-top: auto;
    align-self: center;
}
.avaliacoess{
    padding: 4rem 1;
    color: #020234;
}
.avaliacoes{
     display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.avaliacao{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #080850;
    border-radius: 10px;
<<<<<<< HEAD
    width: 100px;     
    min-height: 80px; 
=======
    width: 63rem;
    height: 200px;      
>>>>>>> 1e985c4bac6fb4e24c17e8c6fb311f1bdeab4398
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: transform 0.3s;
    flex: 1 1 500px; 
    max-width: 600px;
}
.avaliacao:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.avaliacao h3{
<<<<<<< HEAD
     color: white;
    margin-bottom: 10px;
=======
    color: #000;
    margin-bottom: 5px;
>>>>>>> 1e985c4bac6fb4e24c17e8c6fb311f1bdeab4398
}
.avaliacao img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: white;
}
.avaliacao-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #ffffff;
}
.sobre{
    padding: 10rem 0;
}
.sobre-flex{
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    flex: 1;
    min-width: 1000px;
    max-height: 1200px;
    transition: transform 0.3s;
}
.sobre-img{
    flex: 1;
}
.sobre-img img{
    height: 495px;
    width: 640px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4);
    margin-left: 16px;
    margin-top: 2px;
}
.sobre-texto{
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    text-align: justify;
}
.sobre-texto h2{
    font-size: 2.5rem;
    font-family: "AstonScript";
    color: #020234;
}
.sobre-texto p{
    padding: 10px;
    color: #000;
    font-size: 1.1rem;
    text-align: justify;
}
.beneficios{
    list-style: square;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.beneficios li{
    color: #100c22;
    font-size: 0.9rem;
    margin-bottom: 1px;
}
.fundador{
    padding: 0.5rem 0;
}
.fundador-flex{
    display: flex;
    gap: 0.1rem;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    flex: 1;
    min-width: 1000px;
    max-height: 900px;
    transition: transform 0.3s;
}
.fundador-img{
    flex: 1;
}
.fundador-img img{
    height: 495px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4);
    margin-left: 30px;
    margin-top: 8px;
}
.fundador-texto{
    flex: 1;
    flex-direction: column;
    gap: 0.1rem;
}
.fundador-texto h2{
    font-size: 2.5rem;
    color: #1d084d;
}
.fundador-texto p{
    color: #08031a;
    font-size: 1.1rem;
    margin-right: 12px;
}
.footer{
    background-color: #080850;
    color: white;
    padding: 3rem 0 1rem;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.footer-section{
    flex: 1;
    min-width: 200px;
}
.footer-section h4{
    margin-bottom: 1rem;
    color:  #ffc800;
}
.footer-bottom{
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid  #ffc800;
}
/* CONFIGURANDO A RESPONSIVIDADE */
/* MEDIA QUERY: É um recurso do CSS para ajustar elementos conforme a largura da tela */
/* O BREAKPOINT PARA UM CELULAR É APROXIMADAMENTE 768px */
@media (max-width: 768px){
    .sobre-flex{
        flex-direction: column;
    }
    .footer-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo{
        font-size: 1rem;
    }
    .menu{
        gap: 1rem;
    }
    .hero-content h1{
        font-size: 2rem;
    }
}